:local(.map-view), :local(.map-container) {
  width: 100%;
  height: 100%;
}

.esri-popup-main {
  width: 280px!important;

  .esri-popup-content {
    max-height: 300px !important;

    .masked {
      position: relative;
    }

    .masked:after {
      position: absolute;
      content: "Click to show";
      top: 0;
      left: 0;
      background: white;
      width: 100%;
      height: 100%;
      line-height: 15px;
      color: #777777;
      text-decoration: underline;
    }
  }

  :local(.disable-balloon-close) & .esri-close {
    display: none;
  }

  .url {
    font-size: 10px;
  }
}